@media (max-width: 1280px) {
  .container {
    max-width: 87.2% !important;
    gap: 0 !important;
  }
  button {
    width: 100% !important;
  }
  header {
    position: relative;
  }
  header .container .header_nav {
    display: none !important;
  }
  header .container .header_social {
    display: none !important;
  }
  header .container .header_burger {
    display: flex !important;
  }
  header .container .header_burger .burger {
    width: 30px;
    height: 24px;
    position: relative;
    margin-left: 34px;
    cursor: pointer;
  }
  header .container .header_burger .burger hr {
    width: 100%;
    height: 2px;
    margin: 6px 0;
    border: none;
    background-color: #0048CE;
    transition: all 0.3s ease;
  }
  header .container .header_burger .burger.active hr:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  header .container .header_burger .burger.active hr:nth-child(2) {
    opacity: 0;
  }
  header .container .header_burger .burger.active hr:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header .container .header_menu {
    position: absolute;
    top: 99px;
    left: 0;
    z-index: 5;
    width: 100%;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  header .container .header_menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  header .container .menu_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 24px;
    margin-top: 10px;
  }
  header .container .menu_nav a {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #0048CE;
    margin-top: 28px;
  }
  header .container .menu_nav a:first-child {
    margin-top: 0;
  }
  header .container .menu_nav .M1 {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #0048CE;
    margin-left: 20px;
    margin-top: 10px;
  }
  header .container .menu_social {
    margin: 60px 0 40px;
    display: flex;
    flex-wrap: wrap;
  }
  header .container .menu_social span {
    width: 100%;
    display: flex;
    margin-left: 24px;
  }
  header .container .menu_social span a, header .container .menu_social span p {
    width: auto;
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0048CE;
  }
  header .container .menu_social span a {
    margin-right: 3px;
  }
  header .container .menu_social .sc_btn {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-top: 10px;
  }
  header .container .menu_social .sc_btn:last-child {
    margin-left: 18px;
  }
  .main {
    height: 960px !important;
    margin-bottom: 40px !important;
    background-image: url("../img/main-baner-mob.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
  }
  .main .container .main_banner {
    padding: 40px 0 !important;
    border-radius: 0 !important;
    background-image: none !important;
    position: static !important;
  }
  .main .container .main_banner h1 {
    width: 100% !important;
    font-size: 28px !important;
    line-height: 34px !important;
    margin-bottom: 17px !important;
  }
  .main .container .main_banner p {
    width: 100% !important;
    font-size: 15px !important;
    line-height: 22px !important;
  }
  .main .container .main_banner .baner_social {
    margin-top: 24px !important;
  }
  .main .container .main_banner .baner_social a {
    margin: auto 0;
    margin-right: 13px;
    position: absolute;
    right: 23.73px;
    bottom: 64.26px;
  }
  .main .container .main_banner .baner_social a:last-child {
    right: 57.26px;
  }
  .main .container .main_banner .baner_social button {
    margin-right: 0px !important;
  }
  .main .container .main_banner .banner_desc {
    left: 24px !important;
    bottom: 34px !important;
  }
  .photos .container .photo_block {
    margin-bottom: 20px !important;
  }
  .photos .container .photo_block h2 {
    margin-bottom: 0 !important;
    font-size: 21px !important;
    line-height: 28px !important;
  }
  .photos .container .photo_block .block_photo {
    display: flex;
    flex-wrap: wrap;
  }
  .photos .container .photo_block .block_photo .photo_card {
    width: 100% !important;
    max-width: 327px !important;
    height: 331px !important;
    margin: 20px auto !important;
  }
  .photos .container .photo_block .block_photo .photo_card h5 {
    margin-top: 8px !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .photos .container .photo_block .block_photo .photo_card p {
    font-size: 14px !important;
    line-height: 20px !important;
    margin-top: 6px !important;
  }
  footer {
    padding: 21.89px 0 36px !important;
  }
  footer .container {
    display: flex;
    flex-direction: column;
  }
  footer .container .footer_left {
    max-width: 100% !important;
  }
  footer .container .footer_left .left_contacts {
    margin-top: 18.26px !important;
    margin-bottom: 20px !important;
  }
  footer .container .footer_left .left_contacts p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  footer .container .footer_left .left_social .sc_btn {
    width: 40px !important;
    height: 40px !important;
  }
  footer .container .footer_right .right_nav {
    display: none !important;
  }
  footer .container .footer_right .right_nav_mob {
    display: flex !important;
    flex-direction: column;
    margin-top: 20px;
  }
  footer .container .footer_right .right_nav_mob .nav_block {
    display: flex;
    flex-direction: column;
  }
  footer .container .footer_right .right_nav_mob .nav_block p {
    width: 100% !important;
    padding: 14px 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    line-height: 28px !important;
    border-top: 1px solid var(--SPM-Mid-Blue, #D9E4F8);
    position: relative;
  }
  footer .container .footer_right .right_nav_mob .nav_block p::after {
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 0.5L3.50163 3.5L0.503263 0.5' stroke='%230048CE'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.3s linear;
  }
  footer .container .footer_right .right_nav_mob .nav_block p.active {
    color: #799EE5;
  }
  footer .container .footer_right .right_nav_mob .nav_block p.active::after {
    transform: translateY(-50%) rotate(180deg);
  }
  footer .container .footer_right .right_nav_mob .nav_block .block_link {
    display: none;
    flex-direction: column;
    margin-bottom: 23px;
  }
  footer .container .footer_right .right_nav_mob .nav_block .block_link a {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  footer .container .footer_right .right_nav_mob .nav_block .block_link.open {
    display: flex;
  }
  footer .container .footer_right .right_nav_mob .nav_block:first-child p {
    border-top: none;
  }
  footer .container .footer_right .right_rools {
    margin-top: 18px !important;
  }
  footer .container .footer_right .right_rools p {
    font-size: 10px !important;
    line-height: 18px !important;
  }
}/*# sourceMappingURL=Style-mob.css.map */